.record-box-main {
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

/* box left */
.profile{
    width: 29%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 40px;
    backdrop-filter: blur(30px);
    background-image: linear-gradient(to right, rgba(221, 109, 187, 0.794) , rgba(176, 41, 230, 0.52));
}

.pro-pic {
    margin-bottom: 10px;
}
.data-profile {
    width: 100%;
    color: rgb(255, 255, 255);
    margin: 3px;
    font-size: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.data-profile-user {
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
    display: flex;
    color: rgb(255, 255, 255);
    margin: 7px;
    padding: 10px 8px;
    font-size: 18px;
    width: 100%;
    justify-content: center;
}




/* box right */
.box-right {
    width: 100%;
    padding: 2%;
    margin: 10px 0;
    border-radius: 40px;
    backdrop-filter: blur(30px);
    background-image: linear-gradient(to right,rgba(176, 41, 230, 0.52), rgba(221, 109, 187, 0.794));
}

.data-result {
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
    display: flex;
    color: rgb(255, 255, 255);
    margin: 7px;
    padding: 10px 8px;
    font-size: 18px;
    width: 100%;
    justify-content: center;
    text-align: center;
}



/* button */
.button-plus {
    background-color: #aa238d;
    border: none;
    font-size: 2em;
    color: aliceblue;
    width: 50px;
    transition: background 1s;
    cursor: pointer;
    border-radius: 50%;
    margin: 6px 7px;
}

.button-plus:hover {
    background: #b83280;
    color: #fff;
}

.top-plus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.data-activity {
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
    display: flex;
    color: rgb(255, 255, 255);
    margin-bottom: 7px;
    padding: 10px 8px;
    font-size: 18px;
    width: 100%;
    justify-content: center;
}

.data-activity-user {
    border: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.edit-profile {
    border: 2px double #f149ab;
    border-radius: 10px;
    color: rgb(199, 69, 155);
    margin-top: 15px;
    background-color:rgba(0, 255, 255, 0);
    font-size: 20px;
    width: 100%;
    transition: background 1s;
}

.edit-profile:hover {
    background-color:#f891cd;
}
