.boxGoal {
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.resultGoal {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.592);
    color: rgb(169, 9, 102);
    padding: 10px 12px;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 600;
    width: 190px;
}